body {
    padding: 20px 0;
    background-color: #ffebeb;
}

.container {
    border: 5px solid #ff85d5;
    border-radius: 15px;
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.canvas {
    position: absolute;
    top: 0;
}

.form {
    padding: 20px;
}

#formmain {
    text-align: center;
}